:root{
    --primary-color: #138df3;
    --secondary-color: #8df313; /* Coder Foundry Orange*/
    --dark-color: #7913f3;
    --white-color: #e7e7e7;

}
body{
    color:var(--dark-color);
}

nav{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--dark-color);
    padding: 1rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;

}

footer .social>a:hover{
    opacity: 0.90;
    color:var(--secondary-color)

}
h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}
main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bsicon{
    color: purple;

}

.jsicon{
    color: rgba(255, 230, 0, 0.884)
}

.html5icon{
    color: orangered;
}

.cssicon{
    color: rgb(11, 82, 214);
}

.checklist >li i{
    color: var(--secondary-color);
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}

.vl {
    border-left: 6px solid --dark-color;
    height: 500px;
  }